@import url('Reset.css'); 
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* General Styling */
.dark-theme {
    --bg-top-image: url(assets/images/bg-desktop-dark.jpg) no-repeat;
    --main-bg: hsl(235, 21%, 11%);
    --todo-bg: hsl(235, 24%, 19%);
    --todo-shadow: hsl(235, 21%, 11%);
    --font-color: hsl(236, 23%, 77%);
    --font-color-hover: #fff;
}

.light-theme {
  --bg-top-image: url(assets/images/bg-desktop-light.jpg) no-repeat;
  --main-bg: hsl(0, 0%, 98%);
  --todo-bg: #fff;
  --todo-shadow: hsl(235, 21%, 11%);
  --font-color: hsl(244, 10%, 33%);
  --font-color-hover: hsl(235, 21%, 11%);
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

div.container {
  max-width: 310px;
  margin: 0 auto;
}

img {
  cursor: pointer;
}

.check-completed {
  background: center url('assets/images/icon-check.svg') no-repeat, linear-gradient(#57ddff,#c058f3);
}

.text-completed {
  color: #4d4f64;
  text-decoration-line: line-through;
}

.container .task-hidden {
  display: none;
}

.task-visible {
  display: flex;
}

/* Header */
div.todo-header {
  background: var(--bg-top-image);
  background-position: center center;
  background-size: cover;
  height: 35vh;
}

div.title {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

h1 {
  color: #fff;
  font-size: 30px;
}

div form input {
  margin-top: 40px;
  width: 100%;
  height: 50px; 
  background-color: var(--todo-bg);
  border: none;
  border-radius: 6px;
  color: var(--font-color)  ;
  font-size: 18px;
  padding-left: 25px;
  font-family: 'Josefin Sans';
  box-sizing: border-box;
}

/* Body */
div.todo-body {
  background-color: var(--main-bg);
  min-height: 65vh;
  
}

div.todo-body > div:first-child {
  box-shadow: 0 42px 30px -9px var(--todo-shadow);
}

div.task {
  display: flex;
  justify-content: space-between;
  background-color: var(--todo-bg);
  padding: 20px;
  border-bottom: #37394e 1px solid;
  border-radius: 2px;
}

div.text-part {
  display: flex;
  gap: 20px;  
}

div span.check {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: #34364b 2px solid;
  cursor: pointer;
}

div p {
  color: var(--font-color);
}

div.manage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #52536f;
  font-size: 14px;
  background-color: var(--todo-bg);
  padding: 10px 20px;
  border-radius: 2px;
}

div.manage span,
div.manage ul {
  padding: 5px 0;
}

div.manage span.clear {
  cursor: pointer;
}

div.manage ul {
  display: flex;
  gap: 15px;
  justify-content: center;
  cursor: pointer;
}

div.manage span.clear:hover,
div.manage ul li:hover {
  color: var(--font-color-hover);
}

@media screen and (min-width: 600px) {
  div.container {
    max-width: 545px;
  }

  div.manage {
    flex-direction: row;
  }
}